.nav-item {
  display: block;
  padding: 18px 5px;
  /* color: #ffff; */
  text-decoration: none;
  cursor: pointer;
  height: 58px;
}

#navbarupportedContent{
  background-color: none;
}

.navbar-nav {
  margin-right: 10px;
}

.navbar {
  height: 100px;

  z-index: 1;
}

li a{
  border-radius: 10px;
  padding: 4px 12px;
  margin: 4px;
  color: #212121;
}

li a:hover{
  color: #fff;
  text-decoration: none;
  background: #314b7f;
}

#Banner:hover{
  color: #212121;
  background: none;
}