* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
	font-family: Inter;
}
html,
body {
	height: 100%;
	overflow-x: hidden;
	/* font-size: 10px; */
}
.mobile__illust {
	display: none;
}
.container {
	padding: 0 !important;
	/* width: 0; */
	height: 100%;
	margin: 0;
	width: 100%;
}
.texta {
	font-family: Inter;
	height: 600px;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	position: relative;
	color: black;
	/* align-items: center; */
	margin-bottom: 10px;
}
.texta__heading {
	z-index: 2;
	max-width: 105ch;
	height: 400px;
	padding: 20px 00px 40px 0rem;
	transform: translate(10%, 55%);
}
.texta span {
	text-align: left;
	/* font-weight: bold; */
	font-size: 25px;
	line-height: 28px;
	font-weight: 400;
}
.texta h2 {
	margin-bottom: 15px;
	max-width: 15ch;
	font-size: 42px;
	font-weight: bolder;
}
.texta__illust {
	width: 50%;
}
.mobile__illust--01 {
	display: inline-block;
	position: absolute;
	bottom: 10%;
	width: 430px;
	height: 430px;
	right: 22%;
	z-index: 1;
}
.mobile__desk {
	display: none;
}
#ima {
	position: relative;
	width: 850px;
	height: 800px;
	padding: 0 0 80px 0;
	opacity: 0.8;
	z-index: 2;
}
#ima1 {
	position: relative;
	display: flex;
	top: 0;
	right: 20%;
	z-index: 1;
	width: 400px;
	height: 400px;
	padding: 0 20px 20px 20px;
	opacity: 0.8;
}
.texta1 {
	font-family: Inter;
	width: 100%;
	font-weight: 500;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: black;
	margin: 100px 0;
	padding: 0;
}
.texta1 span {
	max-width: 65ch;
	text-align: center;
	padding: 15px 0 15px 0;
	display: flex;
	font-size: 21px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: -.1px;
}
.texta1__images {
	max-width: 165ch !important;
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.texta1__img {
	display: inline-block;
	height: 100px;
	width: 100px;
	padding: 10px;
	margin: 6px;
	transition: 5s;
}
.texta1 span #tit {
	width: 100%;
}
#Ellipse_3,
#Path_71 {
	mix-blend-mode: multiply;
	isolation: isolate;
}
#ima4 {
	z-index: -1;
	display: flex;
	opacity: 0.8;
	transform: translate(40%, 90%);
}
/* .ima__wrap {
	display: inline-block;
	margin: 3rem;
	width: 100%;
} */
#ima3 {
	/* z-index: -1; */
	padding: 1rem;
	opacity: 0.8;
	transform: translate(-12%, -12%);
	height: 550px;
	width: 1300px;
}
.texta2 {
	/* text-align: left; */
	display: flex;
	width: 100%;
	color: black;
	font-family: Inter;
	/* font-weight: bold; */
}
.texta2__text {
	margin-left: 0;
	position: relative;
	transform: translate(10%);
}
.texta2__text #tit {
	margin: 0;
	padding: 5px;
}
.texta2 h2 {
	font-size: 38px;
}
.texta2 span {
	margin: 0;
	max-width: 95ch;
	display: inline-block;
	padding: 5px;
	font-size: 20px;
	line-height: 28px;
	/* line-height: 1.2; */
}
span #tit {
	font-size: 25px;
}
.texta3 {
	max-width: 100ch;
	text-align: left;
	/* opacity: 1 !important; */
	color: black;
	/* font-weight: bold; */
}
.texta3 h3 {
	font-size: 20px;
}
.texta3 span {
	line-height: 28px;
	font-size: 20px;
}
.texta3__container {
	font-family: Inter;
	display: flex;
	/* justify-content: space-between; */
	align-items: center;
	margin: 0rem 10px 120px 10px;
}
.texta3__illust {
	/* margin-left: 8rem; */
}
.texta3__img {
	z-index: -2;
	height: 400px;
	transform: translate(10%);
}
#tit {
	font-weight: bolder;
}
.cards__home {
	font-family: Inter;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	padding: 20px;
}
.cards__card {
	display: flex;
	border-radius: 2px;
	flex-direction: column;
	/* justify-content: space-around; */
	align-items: center;
	height: 280px;
	padding: 10px;
	margin: 12px;
	width: 20%;
	box-shadow: 1px 15px 40px rgba(32, 41, 50, 0.12);
	overflow: hidden;
	margin: 15px;
}
.card__img {
	padding-top: 20px;
	height: 100px;
	width: 100px;
}
.card__text {
	padding-top: 25px;
	text-align: center;
	line-height: 28px;
	font-size: 20px;
}
.texta4 {
	margin-top: 30px;
	width: 100%;
	font-family: Inter;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.texta4__text {
	display: flex;
	justify-content: space-between;
	text-align: center;
	width: 95%;
	z-index: 2;
	padding: 50px 70px;
	background-color: #007ae2;
	transform: translateY(51%);
}
.texta4__heading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
	text-align: center;
	color: #f5f5f5;
	letter-spacing: 00px;
	font-weight: 600;
	font-size: 28px;
}
.texta4__bg {
	display: inline-block;
	width: 1530px;
	height: 350px;
}

.texta4__button,
.texta4__button:visited,
.texta4__button:link {
	text-transform: uppercase;
	padding: 12px 46px;
	font-size: 20px;
	background-color: #29d2d3;
	color: #f5f5f5;
	border: none;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
	border-radius: 3px;
	transition: transform .2s linear;
}
.texta4__button:active {
	transform: scale(1) translateY(-2px);
	box-shadow: 1px 1px 1px .5px rgba(0, 0, 0, 0.2);
}
.texta4__button:hover {
	transform: scale(1.05) translateY(2px);
}
.texta4__button:focus {
	outline: none;
}
.texta4__img {
	display: inline-block;
	width: 100%;
	height: inherit;
}
button::-moz-focus-inner {
	border: 0;
}
.heading__button,
.heading__button:visited,
.heading__button:link {
	margin-top: 20px;
	text-transform: uppercase;
	padding: 12px 46px;
	font-size: 20px;
	background-color: #3525d3;
	color: #f5f5f5;
	border: none;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
	border-radius: 3px;
	transition: transform .2s linear;
}
.logos {
	position: relative;
	width: 100%;
	/* width: ; */
}
.logo_containers--1 {
	/* position: absolute;
	top: 0;
	left: 0; */
	width: 100%;
	/* position: relative; */
	display: flex;
	justify-content: space-between;
	/* flex-wrap: wrap; */
}
.texta4__social {
	z-index: 3;
	transform: translateY(430px);
	display: inline-block;
	background-color: transparent;
}
.texta4__list {
	list-style-type: none;
}
.texta4__item {
	display: inline-block;
}
.texta4__item-img {
	height: 50px;
	width: 45px;
	padding: 00px;
	margin: 0 10px;
}
.texta4__link:link,
.texta4__link:visited {
	display: inline-block;
	padding: 50px 10px;
	text-decoration: none;
	text-transform: uppercase;
}
@media screen and (min-width: 1800px) {
	* {
		font-size: 13px;
	}
}

@media screen and (max-width: 1200px) {
	html,
	body {
		overflow-x: hidden;
	}
	.texta__heading span {
		font-weight: 400;
		line-height: 1.3;
	}
	.texta1 {
		margin: 60px 0;
		padding: 40px;
	}
	.texta1 span {
		font-size: 21px;
	}
	.texta1__img {
		/* width: 23%; */
		padding: 0;
		height: 99px;
		width: 190px;
	}
	.mobile__illust--01 {
		bottom: -29%;
		right: 21%;
	}
	.mobile__desk {
		display: inline-block;
		width: inherit;
		height: inherit;
		opacity: 1.2;
	}
	#ima3 {
		transform: translate(-2%, -20%);
	}
	.texta2 {
		/* text-align: left; */
		display: flex;
		width: 100%;
		color: black;
		/* font-weight: bold; */
	}
	.texta2 h2 {
		font-size: 28px;
	}
	.texta2 span {
		margin: 5px;
		max-width: 55ch;
		display: inline-block;
		padding: 5px;
		font-size: 20px;
		line-height: 1.2;
		/* line-height: 1.2; */
	}
	.texta2__text {
		transform: translate(0);
	}
	.texta3__container {
		display: flex;
		/* justify-content: space-between; */
		align-items: center;
		margin: 00px 0 120px 0;
	}
	.texta3__illust {
		margin-left: 0;
	}
	.texta3__img {
		z-index: -2;
		height: 350px;
		transform: translate(10%);
	}
	.cards__home {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;
		padding: 20px;
	}
	.cards__card {
		display: flex;
		border-radius: 2px;
		flex-direction: column;
		/* justify-content: space-around; */
		align-items: center;
		height: 280px;
		padding: 10px;
		margin: 12px;
		width: 20%;
		box-shadow: 1px 15px 40px rgba(32, 41, 50, 0.12);
		overflow: hidden;
		margin: 15px;
	}
	.card__img {
		padding-top: 20px;
		height: 100px;
		width: 100px;
	}
	.card__text {
		padding-top: 25px;
		text-align: center;
		line-height: 28px;
		font-size: 16px;
	}
	.texta4 {
		margin-top: 30px;
		width: 100%;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.texta4__text {
		display: flex;
		justify-content: space-between;
		text-align: center;
		width: 95%;
		z-index: 2;
		padding: 50px 70px;
		background-color: #007ae2;
		transform: translateY(51%);
	}
	.texta4__heading {
		display: flex;
		flex-direction: column;
		justify-content: center;
		/* align-items: center; */
		text-align: center;
		color: #f5f5f5;
		letter-spacing: 00px;
		font-weight: 600;
		font-size: 28px;
	}
	.texta4__bg {
		display: inline-block;
		width: 1530px;
		height: 350px;
	}
	.texta4__img {
		display: inline-block;
		width: 100%;
		height: inherit;
	}
	.texta4__button,
	.texta4__button:visited,
	.texta4__button:link {
		text-transform: uppercase;
		padding: 12px 46px;
		font-size: 20px;
		background-color: #29d2d3;
		color: #f5f5f5;
		border: none;
		box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
		border-radius: 3px;
		transition: transform .2s linear;
	}
}
@media screen and (max-width: 987px) {
	.texta1__img {
		width: 100px;
		height: 200px;
	}
}
@media screen and (max-width: 900px) {
	html,
	body {
		overflow-x: hidden;
	}
	.texta__heading {
		transform: translate(10%, 25%);
	}
	.texta {
		height: 612px;
	}
	.texta1 {
		color: black;
		margin: 0 0 144px 0;
		padding: 13.05px;
	}
	.texta1 span {
		max-width: 65ch;
		text-align: center;
		padding: 13.5px 36px 13.5px 27px;
		display: flex;
		font-size: 18.9px;
		font-weight: 400;
		line-height: 1.5;
		letter-spacing: -.1px;
		z-index: 2;
	}
	.texta1__img {
		width: 117px;
		height: 117px;
	}
	.mobile__illust--01 {
		bottom: -22%;
		right: 21%;
	}
	.texta2 {
		/* text-align: left; */
		display: flex;
		width: 100%;
		color: black;
		/* font-weight: bold; */
	}
	.texta2__text {
		margin-left: 0;
		position: relative;
		transform: translate(0);
	}
	.texta2__text #tit {
		margin: 0;
		padding: 0;
	}
	.texta2 h2 {
		font-size: 22.5px;
	}
	.texta2 span {
		margin: 0px;
		max-width: 85ch;
		display: inline-block;
		padding: 5px 0 5px 0;
		font-size: 18px;
		line-height: 21.6px;
		/* line-height: 1.2; */
	}
	span #tit {
		font-size: 22.5px;
	}
	#ima3 {
		padding: 0;
		transform: translate(-12%, -20%);
	}
	.texta3__container {
		display: flex;
		/* justify-content: space-between; */
		align-items: center;
		margin: 45px 0 108px 0;
	}
	.cards__card {
		display: flex;
		border-radius: 2px;
		flex-direction: column;
		/* justify-content: space-around; */
		align-items: center;
		height: 252px;
		padding: 9px;
		margin: 10.8px;
		width: 40%;
		box-shadow: 1px 13.5px 36px rgba(32, 41, 50, 0.12);
		overflow: hidden;
		margin: 13.5px;
	}
	.card__img {
		padding-top: 16.2px;
		height: 108px;
		width: 126px;
	}
	.card__text {
		padding-top: 22.5px;
		text-align: center;
		line-height: 25.2px;
		font-size: 21.6px;
	}
	.texta4 {
		margin-top: 27px;
		width: 100%;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.texta4__text {
		display: flex;
		justify-content: space-between;
		text-align: center;
		width: 100%;
		height: 225px;
		z-index: 2;
		padding: 81px 27px;
		background-color: #007ae2;
		transform: translateY(51%);
	}
	.texta4__img {
		display: inline-block;
		width: 100%;
		height: inherit;
	}
	.texta4__heading {
		letter-spacing: 0;
		font-size: 28.8px;
	}
	.texta4__button,
	.texta4__button:visited,
	.texta4__button:link {
		padding: 0 23.4px 0 23.4px;
		font-size: 18px;
	}
	.texta4__social {
		transform: translateY(550px);
	}
}
@media screen and (max-width: 767px) {
	html,
	body {
		overflow-x: hidden;
	}
	#ima {
		display: none;
	}
	.texta {
		width: 100%;
		position: relative;

		transform: translate(-19%, -15%);
	}
	.texta__heading {
		width: 100% !important;
		text-align: center;
		position: absolute;
		transform: translate(22%, 55%);
	}
	.mobile__illust {
		display: inline-block;
		position: absolute;
		top: 0;
		z-index: -1;
		right: -90%;
		width: 1008px;
		height: 576px;
	}
	.mobile__svg {
		display: inline-block;
		height: inherit;
		width: inherit;
	}
	.mobile__illust--01 {
		bottom: -34%;
		right: -7%;
	}
	.texta h2 {
		max-width: 400ch;
	}
	.texta__heading h2 {
		margin-right: 0;
	}
	.texta {
		height: 612px;
	}
	.texta1 {
		color: black;
		margin: 0 0 144px 0;
		padding: 0;
	}
	.texta1 span {
		max-width: 265ch;
		text-align: center;
		padding: 13.5px 0 13.5px 0;
		display: flex;
		font-size: 20.7px;
		font-weight: 400;
		line-height: 1.5;
		letter-spacing: -.1px;
	}
	.texta1__img {
		padding: 5.4px;
		margin: 0;
	}
	.texta2 {
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: center;
		/* color: black; */
		height: 630px;
	}
	.texta2__text span {
		/* font-weight: 500; */
		font-size: 20.7px;
		font-weight: 400;
		line-height: 1.5;
	}
	#ima3 {
		padding: 0;
		transform: translate(0, -20%);
	}
	.texta2__text {
		margin-left: 0;
		position: relative;
		transform: translate(0);
	}
	.texta2__text #tit {
		margin: 0;
		padding: 0;
		margin: 18px 0;
	}
	.texta2 h2 {
		font-size: 22.5px;
	}
	.texta2 span {
		margin: 0px;
		max-width: 85ch;
		display: inline-block;
		padding: 5px 0 5px 0;
		font-size: 18px;
		line-height: 21.6px;
	}
	span #tit {
		font-size: 22.5px;
	}
	.texta3__container {
		margin: 67.5px 0 108px 0;
		display: flex;
		flex-direction: column-reverse;
	}
	.texta3 {
		margin-top: 108px;
	}
	.cards__card {
		display: flex;
		border-radius: 2px;
		flex-direction: column;
		/* justify-content: space-around; */
		align-items: center;
		height: 252px;
		padding: 9px;
		margin: 10.8px;
		width: 100%;
		box-shadow: 1px 13.5px 36px rgba(32, 41, 50, 0.12);
		overflow: hidden;
		margin: 13.5px;
	}
	.card__img {
		padding-top: 18px;
		height: 108px;
		width: 126px;
	}
	.card__text {
		padding-top: 22.5px;
		text-align: center;
		line-height: 25.2px;
		font-size: 21.6px;
	}
	.texta4 {
		margin-top: 27px;
		width: 100%;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.texta4__text {
		display: flex;
		justify-content: space-between;
		text-align: center;
		width: 100%;
		height: 225px;
		z-index: 2;
		padding: 81px 27px;
		background-color: #007ae2;
		transform: translateY(51%);
	}
	.texta4__img {
		display: inline-block;
		width: 100%;
		height: inherit;
	}
	.texta4__heading {
		letter-spacing: 0;
		etter-spacing: 0;
		font-size: 21.96px;
	}
	.texta4__button,
	.texta4__button:visited,
	.texta4__button:link {
		padding: 0 23.4px 0 23.4px;
		font-size: 16.2px;
	}
}
@media screen and (max-width: 600px) {
	html,
	body {
		overflow-x: hidden;
	}

	#ima {
		display: none;
	}
	.texta {
		width: 100%;
		position: relative;
		transform: translate(0);
		align-items: center;
	}
	.mobile__illust {
		top: -7%;
		z-index: -1;
		right: -18%;
		width: 594px;
		height: 297px;
	}
	.mobile__illust--01 {
		bottom: -18%;
		right: 18%;
	}
	.texta__heading {
		width: 100% !important;
		text-align: center;
		position: absolute;
		transform: translate(0);
	}
	.texta__heading span {
		display: inline-block;
		max-width: 30ch;
		text-align: center;
	}
	.texta h2 {
		max-width: 400ch;
	}
	.texta__heading h2 {
		margin-right: 0;
	}
	.texta {
		height: 612px;
	}
	.texta1 {
		color: black;
		margin: 0 0 144px 0;
		padding: 0;
	}
	.texta1 span {
		max-width: 30ch;
		text-align: center;
		padding: 13.5px 9px 13.5px 9px;
		display: flex;
		font-size: 18px;
		font-weight: 400;
		line-height: 1.5;
		letter-spacing: -.1px;
		z-index: 2;
	}
	.mobile__changes {
		max-width: 35ch !important;
		padding: 10.8px 0 !important;
		margin: 4.5px !important;
	}
	.mobile__changes--1 {
		max-width: 36.5ch !important;
		padding: 10.8px 0 !important;
		margin: 4.5px !important;
	}
	.mobile__changes--2 {
		font-size: 14.4px !important;
	}
	.texta1__img {
		padding: 0;
		margin: 4.5px;
		height: 99px;
		width: 99px;
	}
	.texta2 {
		display: flex;
		width: 100%;
		text-align: center;
		flex-direction: column;
		align-items: center;
		/* color: black; */
		height: 630px;
	}
	.texta2__text span {
		/* font-weight: 500; */

		font-size: 20.7px;
		font-weight: 400;
		line-height: 1.5;
	}
	#ima3 {
		display: inline-block;
		width: 100%;
		padding: 0;
		transform: translate(0, -20%);
	}
	.texta2__text {
		margin-left: 0;
		position: relative;
		transform: translate(0);
	}
	.texta2__text #tit {
		margin: 0;
		padding: 0;
		margin: 10.8px 0;
	}
	.texta2 h2 {
		font-size: 22.5px;
	}
	.texta2 span {
		margin: 0px;
		max-width: 85ch;
		display: inline-block;
		padding: 5px 9px 5px 9px;
		font-size: 18px;
		line-height: 1.5;

		/* line-height: 1.2; */
	}
	.texta2__text #tit {
		display: inline-block;
		padding: 12.6px;
	}
	span #tit {
		font-size: 22.5px;
	}
	.texta3__container {
		margin: 67.5px 0 108px 0;
		display: flex;
		flex-direction: column-reverse;
	}
	.texta3 {
		margin-top: 108px;
		text-align: center;
		padding: 18px;
		display: inline-block;
	}
	.texta3__img {
		transform: translate(-.1%);
	}
	.cards__card {
		display: flex;
		border-radius: 2px;
		flex-direction: column;
		/* justify-content: space-around; */
		align-items: center;
		height: 252px;
		padding: 9px;
		margin: 10.8px;
		width: 100%;
		box-shadow: 1px 13.5px 36px rgba(32, 41, 50, 0.12);
		overflow: hidden;
		margin: 13.5px;
	}
	.card__img {
		padding-top: 18px;
		height: 108px;
		width: 126px;
	}
	.card__text {
		padding-top: 22.5px;
		text-align: center;
		line-height: 25.2px;
		font-size: 21.6px;
	}
	.texta4 {
		margin-top: 27px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.texta4__text {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		align-items: center;
		text-align: center;
		width: 90%;
		height: 225px;
		z-index: 2;
		padding: 45px 27px;
		background-color: #007ae2;
		transform: translateY(51%);
	}
	.texta4__img {
		display: inline-block;
		width: 100%;
		height: inherit;
	}
	.texta4__heading {
		line-height: 1.8;
		font-size: 26.1px;
		display: inline-block;
	}
	.texta4__button,
	.texta4__button:visited,
	.texta4__button:link {
		margin-top: 18px;
		padding: 18px 23.4px 18px 23.4px;
		font-size: 16.2px;
		width: 50%;
	}
	.mobile__change--3 {
		max-width: 17ch !important;
	}
}
@media screen and (max-width: 496px) {
	html,
	body {
		overflow-x: hidden;
	}
	.texta1__img {
		width: 90px;
		height: 81px;
	}
	.texta4__heading {
		line-height: 1.8;
		font-size: 19.8px;
		display: inline-block;
	}
	.texta4__text {
		padding: 45px 13.5px;
	}
	.texta4__button,
	.texta4__button:visited,
	.texta4__button:link {
		margin-top: 18px;
		padding: 18px 23.4 18px 23.4;
		font-size: 16.2px;
		width: 80%;
	}
	.texta4__social {
		transform: translateY(450px);
	}
	.mobile__illust--01 {
		bottom: -18%;
		right: 2%;
	}
	.texta4__link:link,
	.texta4__link:visited {
		padding: 4.5px 3.6px;
		text-decoration: none;
		text-transform: uppercase;
	}
	.texta4__item-img {
		height: 31.5px;
		width: 36px;
		padding: 0rem;
		margin: 0 9px;
	}
}
@media screen and (max-width: 398px) {
	.mobile__changes {
		font-size: 16.2px !important;
	}
	.mobile__changes--1 {
		font-size: 16.2px !important;
	}
	.texta1__img {
		width: 126px;
		height: 126px;
	}
	.mobile__illust--01 {
		bottom: 2%;
		right: 0;
		height: 207px;
	}
	.texta4__item-img {
		height: 31.5px;
		width: 36px;
		padding: 0rem;
		margin: 0 0rem;
	}
	.mobile__illust {
		top: -7%;
		z-index: -1;
		right: -49%;
		width: 594px;
		height: 297px;
	}
}
